.overlay {
  position: fixed;
  z-index: 10;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 104%;
  overflow: auto;
  /* background-color: rgba(0, 0, 0, 0.4); */
  margin-top: -30px;
}

.overlay-wrapper {
  /* width: 80%; */
  /* margin-left: 10%; */
  display: grid;
  /* grid-template-columns: 1fr 1fr; */
  height: 100%;
  /* position: relative; */
}

.overlay-item {
  grid-column-start: 3;
  grid-column-end: 1;
  background-color: #d7d5d8;
  color: #ffffffff;
  position: relative;
}

.overlay-item h1 {
  /* text-align: center; */
  background-color: #000000bd;
  line-height: 40px;
  padding: 15px;
  position: relative;
  background-color: white;
  color: black;
  margin-top: 20px;
}

.overlay-item h1 span {
  font-weight: 500;
  font-size: medium;
}

span.close-overlay {
  /* margin-right: 10px; */
  right: 15px;
  position: absolute;
  display: none;
  font-weight: bold !important;
}

.overlay-item-section {
  background-color: #ffffffff;
  /* height: 80px; */
  margin-top: 10px;
  display: grid;
  grid-template-columns: 15% 1fr 15%;
  padding: 15px;
  color: black;
}
.overlay-item-section img {
  max-width: 80px;
  width: 100%;
}

.overlay-item-section section {
  padding: 0px 10px;
  align-self: center;
}

.overlay-item-section section.item-title {
    overflow: hidden;
    height: 28px;
}

.overlay-item-section span {
  background-color: #d4278f;
  text-align: center;
  width: 25px;
  height: 25px;
  display: inline-block;
  color: #ffffffff;
  border-radius: 50%;
  font-weight: bold;
  font-size: 16px;
  margin: 0px 10px;
} 

.overlay-item-section span.quantity {
    background: none;
    color: #000000;
    width: auto;
}

.overlay-item-price {
  text-align: center;
  padding-top: 30px;
  font-weight: 700;
}

.cart-checkout {
  position: absolute;
  bottom: 0px;
  height: 100px;
  background-color: #ffffffff;
  width: 100%;
  color: black;
  text-align: center;
  padding: 10px;
}

.cart-checkout button {
  display: block;
  width: 100%;
  text-align: left;
  padding: 0px 20px;
  margin-top: 10px;
}

.cart-checkout span {
  position: absolute;
  right: 25px;
}

.lowest-price-banner {
  background-color: #ffffffff;
  display: grid;
  grid-template-columns: 20% 1fr;
  padding: 15px;
  color: black;
  margin: 15px;
}

.lowest-price-banner img {
  width: 100%;
  max-width: 160px;
}

.lowest-price-banner section {
  padding: 5px 15px;
  font-weight: 600;
  align-self: center;
}

@media (min-width: 768px) {
  .overlay {
    margin-top: -10px;
  }
  .cart-checkout {
    margin-bottom: 20px;
  }
}

@media (min-width: 1200px) {
  .overlay {
    background-color: rgba(0, 0, 0, 0.4);
  }

  .overlay-wrapper {
    width: 40%;
    margin-left: 50%;
    grid-template-columns: 1fr;
  }

  .overlay-item {
    grid-column-end: 2;
    grid-column-start: 1;
  }

  .overlay-item h1 {
    background-color: #000000bd;
    color: #ffffffff;
    margin-top: 0px;
  }

  span.close-overlay {
    display: inline-block;
    cursor: pointer;
  }
}
