.dropdown-nav {
    margin: 15px 0;
  }
  .navList {
    display: none;
  }
  .down {
    transform: rotate(45deg);
    position: absolute;
    right: 10px;
    bottom: 15px;
    padding: 4px;
  }
  i {
    border: solid #fff;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
  }
  .dropdown-nav :hover .navList {
    display: block;
  }
  .first {
    padding: 10px;
    background: #d4278f;
    color: #fff;
    cursor: none;
  }
  .dropdown-nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .dropdown-nav ul li {
    float: left;
    position: relative;
    width: 100%;
    cursor: pointer;
  }
  .dropdown-nav ul li:hover, .dropdown-nav ul li.hover {
    z-index: 100;
  }
  .dropdown-nav ul li:hover ul, .dropdown-nav ul li.hover ul {
    left: 0;
  }
  .dropdown-nav ul li:hover ul a, .dropdown-nav ul li.hover ul a {
    background: #d4278f;
    color: #fff;
    border: 1px solid #fff;
    padding: 5px 10px;
    width: 100%;
    margin-top: -1px;
    /* collapses top border */
  }
  .dropdown-nav ul li:hover ul a:hover, .dropdown-nav ul li.hover ul a:hover, .dropdown-nav ul li:hover ul a:focus, .dropdown-nav ul li.hover ul a:focus, .dropdown-nav ul li:hover ul a:active, .dropdown-nav ul li.hover ul a:active {
    background: #d4278f;
    color: #fff;
  }
  .dropdown-nav ul a {
    background: #d4278f;
    color: #fff;
    text-decoration: none;
    padding: 10px;
    display: block;
  }
  .dropdown-nav ul a:hover, .dropdown-nav ul a:focus, .dropdown-nav ul a:active {
    /* <- keeps the tab hover state on as the dropdown gets explored */
    background: #d4278f;
    color: #fff;
    border: 1px solid #d4278f;
  }
  .dropdown-nav ul li.hover a {
    /* <- keeps the tab hover state on as the dropdown gets explored */
    background: #d4278f;
    color: #fff;
    border: 1px solid #d4278f;
  }
  .dropdown-nav ul ul {
    position: absolute;
    top: 100%;
    width: 100%;
    display: none;
  }
  .dropdown-nav ul ul li {
    float: none;
    position: static;
  }
  .clearfix {
    zoom: 1;
  }
  .clearfix:before {
    content: "";
    display: table;
  }
  .clearfix:after {
    content: "";
    display: table;
    clear: both;
  }
  @media (min-width: 768px) {
    .dropdown-nav {
      display: none;
    }
  }
  